@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "flyonui";
@source "./node_modules/flyonui/dist/index.js";
@plugin "@iconify/tailwind4";

@theme {
  --font-h1: "Quicksand", sans-serif;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-p: 1rem;
  --font-size-small: 0.875rem;
}

#root {
  align-self: start;
  width: calc(100% - 4em);
}

.header, .container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: white 1px solid;
  border-radius: 1em;
  padding: 1em;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
}

.messages {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-line;
}
.input-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: end;
  position:sticky;
  bottom: 0;
}

h1 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h3);
}

p {
  font-family: var(--font-h1);
  font-size: var(--font-size-p);
}

input {
  font-family: var(--font-h1);
  font-size: var(--font-size-p);
  padding: 0.5em;
  border: solid 1px azure;
  border-radius: 0.5em;
  color: white;
  background-color: #2e2e2e;
  width: 100%;
}

button {
  font-family: var(--font-h1);
  font-size: var(--font-size-p);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-color: azure;
  color: white;
  cursor: pointer;
  width: fit-content;
  margin: auto 0;
}
button:hover {
  background-color: #3e3e3e;
}