@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@source "./node_modules/flyonui/dist/index.js";
@plugin "@iconify/tailwind4";
@plugin "flyonui"{
  themes:false;
}


@theme {
  --default-font-family: "Quicksand", sans-serif;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-p: 1rem;
  --font-size-small: 0.875rem;
  --color-*: initial;
  --color-base-100: #131414;
  --color-base-200: #3F4244;
  --color-base-300: #5C5F62;
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: #5A694E;
  --color-secondary: #365346;
  --color-accent: #3D6787;
  --color-neutral: #314B5F;
  --color-info: #053182;
  --color-success: #1F5418;
  --color-warning: #A54402;
  --color-error: #650505;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

.header, .container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: white 1px solid;
  border-radius: 1em;
  padding: 1em;
  color: white;
  width: 100%;
}

.chat {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-line;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: end;
  position:sticky;
  bottom: 0;
}

h1 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-h1);
  font-size: var(--font-size-h3);
}

p {
  font-family: var(--font-h1);
  font-size: var(--font-size-p);
}